.dk-button {
    --dk-button-size: 32px;
    --dk-button-text-color: var(--dk-text-color-regular);
    --dk-button-text-color-hover: var(--dk-color-primary);
    --dk-button-text-color-active: var(--dk-button-text-color-hover);
    --dk-button-text-color-disabled: var(--dk-disabled-text-color);
    --dk-button-font-weight: var(--dk-font-weight-primary);
    --dk-button-bg-color: var(--dk-fill-color-blank);
    --dk-button-bg-color-hover: var(--dk-color-primary-light-9);
    --dk-button-bg-color-active: var(--dk-button-bg-color-hover);
    --dk-button-bg-color-disabled: var(--dk-fill-color-blank);
    --dk-button-border-color: var(--dk-border-color);
    --dk-button-border-color-hover: var(--dk-color-primary-light-7);
    --dk-button-border-color-active: var(--dk-color-primary);
    --dk-button-border-color-disbaled: var(--dk-border-color-light);
}

.dk-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: var(--dk-button-size);
    white-space: nowrap;
    cursor: pointer;
    color: var(--dk-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: var(--dk-button-font-weight);
    user-select: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--dk-button-bg-color);
    border: var(--dk-border);
    border-color: var(--dk-button-border-color);
    padding: 8px 15px;
    font-size: var(--dk-font-size-base);
    border-radius: var(--dk-border-radius-base);

    & + & {
        margin-left: 12px;
        margin-top: 12px;
    }

    &:hover,
    &:focus {
        color: var(--dk-button-text-color-hover);
        border-color: var(--dk-button-border-color-hover);
        background-color: var(--dk-button-bg-color-hover);
        outline: none;
    }

    &:active {
        color: var(--dk-button-text-color-active);
        border-color: var(--dk-button-border-color-active);
        background-color: var(--dk-button-bg-color-active);
        outline: none;
    }

    &.is-plain {
        --dk-button-text-color-hover: var(--dk-color-primary);
        --dk-button-bg-color-hover: var(--dk-fill-color-blank);
        --dk-button-border-color-hover: var(--dk-color-primary);
    }

    &.is-round {
        border-radius: var(--dk-border-radius-round);
    }

    &.is-circle {
        width: 32px;
        border-radius: 50%;
        padding: 8px;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:active,
    &[disabled],
    &[disabled]:hover,
    &[disabled]:active {
        color: var(--dk-button-text-color-disabled);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--dk-button-bg-color-disabled);
        border-color: var(--dk-button-border-color-disabled);
    }

    [class*='dk-icon'] + span {
        margin-left: 6px;
    }
}

@each $val in primary, success, warning, danger, info {
    .dk-button--$(val) {
        --dk-button-text-color: var(--dk-color-white);
        --dk-button-bg-color: var(--dk-color-$(val));
        --dk-button-border-color: var(--dk-color-$(val));
        --dk-button-text-color-hover: var(--dk-color-white);
        --dk-button-bg-color-hover: var(--dk-color-$(val)-light-3);
        --dk-button-border-color-hover: var(--dk-color-$(var)-light-3);
        --dk-button-text-color-active: var(--dk-text-color-secondary);
        --dk-button-bg-color-active: var(--dk-color-$(val)-dark-2);
        --dk-button-border-color-active: var(--dk-color-$(var)-dark-2);
        --dk-button-text-color-disabled: var(--dk-color-white);
        --dk-button-bg-color-disabled: var(--dk-color-$(val)-light-5);
        --dk-button-border-color-disabled: var(--dk-color-$(val)-light-5);
    }

    .dk-button--$(val).is-plain {
        --dk-button-text-color: var(--dk-color-$(val));
        --dk-button-bg-color: var(--dk-color-$(val)-light-9);
        --dk-button-border-color: var(--dk-color-$(val)-light-5);
        --dk-button-text-color-hover: var(--dk-color-white);
        --dk-button-bg-color-hover: var(--dk-color-$(val));
        --dk-button-border-color-hover: var(--dk-color-$(val));
        --dk-button-text-color-active: var(--dk-color-white);
    }
}

.dk-button--large {
    --dk-button-size: 40px;
    padding: 12px 19px;
    font-size: var(--dk-font-size-base);
    border-radius: var(--dk-border-radius-base);
}

.dk-button--small {
    --dk-button-size: 24px;
    padding: 5px 11px;
    font-size: calc(var(--dk-font-size-small) - 1px);
    border-radius: calc(var(--dk-border-radius-base) - 1px);
}
