:root {
    /* each variables */
    --colors: (primary: #409eff, success: #67c23a, warning: #e6a23c, danger: #f56c6c, info: #909399, error: #f56c6c);

    /* each */
    @each $val, $color in var(--colors) {
        --dk-color-$(val): $(color);
        @for $i from 3 to 9 by 2 {
            --dk-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
        }
        --dk-color-$(val)-light-8: mix(#fff, $(color), 0.8);
        --dk-color-$(val)-dark-2: mix(#000, $(color), 0.2);
    }

    --dk-color-white: #ffffff;
    --dk-color-black: #000000;

    --dk-bg-color: #ffffff;
    --dk-bg-color-page: #f2f3f5;
    --dk-bg-color-overlay: #ffffff;
    --dk-text-color-primary: #303133;
    --dk-text-color-regular: #606266;
    --dk-text-color-secondary: #909399;
    --dk-text-color-placeholder: #a8abb2;
    --dk-text-color-disabled: #c0c4cc;
    --dk-border-color: #dcdfe6;
    --dk-border-color-light: #e4e7ed;
    --dk-border-color-lighter: #ebeef5;
    --dk-border-color-extra-light: #f2f6fc;
    --dk-border-color-dark: #d4d7de;
    --dk-border-color-darker: #cdd0d6;
    --dk-fill-color: #f0f2f5;
    --dk-fill-color-light: #f5f7fa;
    --dk-fill-color-lighter: #fafafa;
    --dk-fill-color-extra-light: #fafcff;
    --dk-fill-color-dark: #ebedf0;
    --dk-fill-color-darker: #e6e8eb;
    --dk-fill-color-blank: #ffffff;

    /* border */
    --dk-border-width: 1px;
    --dk-border-style: solid;
    --dk-border-color-hover: var(--dk-text-color-disabled);
    --dk-border: var(--dk-border-width) var(--dk-border-style) var(--dk-border-color);
    --dk-border-radius-base: 4px;
    --dk-border-radius-small: 2px;
    --dk-border-radius-round: 20px;
    --dk-border-radius-circle: 100%;

    /*font*/
    --dk-font-size-extra-large: 20px;
    --dk-font-size-large: 18px;
    --dk-font-size-medium: 16px;
    --dk-font-size-base: 14px;
    --dk-font-size-small: 13px;
    --dk-font-size-extra-small: 12px;
    --dk-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
    --dk-font-weight-primary: 500;

    /*disabled*/
    --dk-disabled-bg-color: var(--dk-fill-color-light);
    --dk-disabled-text-color: var(--dk-text-color-placeholder);
    --dk-disabled-border-color: var(--dk-border-color-light);

    /*transition*/
    --dk-transition-duration: 0.3s;
    --dk-transition-duration-fast: 0.2s;
    --dk-transition-duration-slow: 0.5s;
}
