.dk-collapse {
    --dk-collapse-header-height: 48px;
    --dk-collapse-header-bg-color: var(--dk-fill-color-blank);
    --dk-collapse-header-text-color: var(--dk-text-color-primary);
    --dk-collapse-header-font-size: 13px;
    --dk-collapse-header-font-weight: var(--dk-font-weight-primary);
    --dk-collapse-border-color: var(--dk-border-color-light);
    --dk-collapse-disabled-text-color: var(--dk-disabled-text-color);
    --dk-collapse-content-bg-color: var(--dk-fill-color-blank);
    --dk-collapse-content-font-size: 13px;
    --dk-collapse-content-font-weight: 400;
    --dk-collapse-content-text-color: var(--dk-text-color-primary);
    border-top: 1px solid var(--dk-collapse-border-color);
    border-bottom: 1px solid var(--dk-collapse-border-color);
}

.dk-collapse-item__header {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    user-select: none;
    /* justify-content: center; */
    height: var(--dk-collapse-header-height);
    line-height: var(--dk-collapse-header-height);
    background-color: var(--dk-collapse-header-bg-color);
    color: var(--dk-collapse-header-text-color);
    cursor: pointer;
    font-size: var(--dk-collapse-header-font-size);
    font-weight: 500;
    transition: border-bottom-color var(--dk-transition-duration);
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--dk-collapse-border-color);

    &.is-disabled {
        color: var(--dk-collapse-disabled-text-color);
        cursor: not-allowed;
    }
    &.is-active {
        border-bottom-color: transparent;
    }
}

.dk-collapse-item__wrapper{
    border-bottom: 1px solid var(--dk-collapse-border-color);
}

.dk-collapse-item__content {
    will-change: height;
    background-color: var(--dk-collapse-content-bg-color);
    overflow: hidden;
    box-sizing: border-box;
    font-size: var(--dk-collapse-content-font-size);
    font-weight: 400;
    line-height: 1.7;
    color: var(--dk-collapse-content-text-color);
    padding: 0 0 25px;
}

.fade-enter-active,
.fade-leave-active {
    transition: height var(--dk-transition-duration) ease-in-out;
}
