.dk-tooltip {
    --dk-popper-bg-color: var(--dk-bg-color-light);
    --dk-popper-text-color: var(--dk-color-black);
    --dk-popper-font-size: var(--dk-font-size-extra-small);
    --dk-popper-border-color: var(--dk-border-color);
    --dk-popper-padding: 7px;
    --dk-popper-border-radius: 4px;
    display: inline-block;
}

.dk-tooltip__popper {
    background: var(--dk-popper-bg-color);
    border-radius: var(--dk-popper-border-radius);
    border: 1px solid var(--dk-popper-border-color);
    padding: var(--dk-popper-padding);
    color: var(--dk-popper-text-color);
    line-height: 1.4;
    text-align: justify;
    font-size: var(--dk-popper-font-size);
    box-shadow: var(--dk-box-shadow-lighter);
    word-break: break-all;
    box-sizing: border-box;
    will-change: height;
    transition: opacity var(--dk-transition-duration-fast), height var(--dk-transition-duration-fast);
    z-index: 1000;

    #arrow,
    #arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        box-sizing: border-box;
        background-color: var(--dk-popper-bg-color);
    }
    #arrow {
        visibility: hidden;
    }
    #arrow::before {
        visibility: visible;
        content: '';
        transform: rotate(45deg);
    }
    &[data-popper-placement^='top'] > #arrow {
        bottom: -4px;
    }

    &[data-popper-placement^='bottom'] > #arrow {
        top: -4px;
    }

    &[data-popper-placement^='left'] > #arrow {
        right: -4px;
    }

    &[data-popper-placement^='right'] > #arrow {
        left: -4px;
    }
    &[data-popper-placement^='top'] > #arrow::before {
        border-right: 1px solid var(--dk-popper-border-color);
        border-bottom: 1px solid var(--dk-popper-border-color);
    }
    &[data-popper-placement^='bottom'] > #arrow::before {
        border-left: 1px solid var(--dk-popper-border-color);
        border-top: 1px solid var(--dk-popper-border-color);
    }
    &[data-popper-placement^='left'] > #arrow::before {
        border-right: 1px solid var(--dk-popper-border-color);
        border-top: 1px solid var(--dk-popper-border-color);
    }
    &[data-popper-placement^='right'] > #arrow::before {
        border-left: 1px solid var(--dk-popper-border-color);
        border-bottom: 1px solid var(--dk-popper-border-color);
    }
}

.dk-tooltip-light {
    --dk-popper-text-color: var(--dk-color-black);
    --dk-popper-bg-color: var(--dk-bg-color-light);
}

.dk-tooltip-dark {
    --dk-popper-text-color: var(--dk-color-white);
    --dk-popper-bg-color: var(--dk-bg-color-dark);
}

.fade-enter-from,
.fade-leave-to,
.drop-enter-from,
.drop-leave-to {
    opacity: 0;
}
